@import url("https://fonts.googleapis.com/css?family=Prompt");
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
  height: 3em;
}

.navbar a {
  position: absolute;
  left: 50%;
  top: 8vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navbar .menu {
  position: absolute;
  right: 7%;
  top: 0vh;
}

main .container {
  margin: 20vh auto;
}

.container {
  width: 80vw;
  margin: auto auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #263238;
}

body {
  font-family: "Prompt", sans-serif;
}
