#gallery {
  position: relative;
  top: -6em;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.1rem;
  overflow: hidden;
}

#gallery::after {
  content: "";
  height: 6rem;
  width: 100%;
  background: #fff;
  display: block;
  position: absolute;
}

#gallery::before {
  content: "";
  height: 6rem;
  width: 100%;
  background: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.embedsocial-instagram {
  width: 50%;
}

iframe {
  position: relative;
}
