@import url("https://fonts.googleapis.com/css?family=Prompt:300,600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  height: 100%;
  font-family: "Prompt", sans-serif;
  font-weight: 200;
}

nav {
  max-width: 80vw;
  height: 3em;
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin-left: 1em;
}

nav ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav ul li:hover::after {
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav ul .current {
  border-bottom: solid #000 1px;
}

.logo {
  height: 2.4em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container {
  width: 80vw;
  margin: auto;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #2e2e2e;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  color: #fff;
}

.float ion-icon {
  cursor: pointer;
  color: #fff;
  font-size: 35px;
  margin-top: 12px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.float ion-icon:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.float ul {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2b2b2b;
  -webkit-box-shadow: 0px 0px 5px 0px #999;
          box-shadow: 0px 0px 5px 0px #999;
  opacity: 0.8;
  z-index: -1;
}

.float ul li {
  margin: 1em;
}

.float ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.float ul li:hover::after {
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.float ul .current {
  border-bottom: solid #fff 2px;
}

.float ul a {
  color: #fff;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  nav {
    margin-top: 2rem;
    height: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  nav img {
    padding-left: 15px;
  }
  nav ul {
    visibility: hidden;
  }
  .social-media {
    height: 1.5em !important;
    width: 25vh !important;
  }
  .logo {
    height: 100%;
  }
}

.hero {
  margin: 25vh 1em;
  text-align: center;
}

.hero h3 {
  font-weight: 200;
}

.hero h1 {
  font-size: 5em;
  font-weight: 200;
}

.hero h1 .name {
  font-weight: 600;
}

.hero p {
  color: #777;
}

.hero .social-media {
  margin: 1em auto;
  height: 2em;
  width: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .social-media .icon {
  height: 100%;
  pointer-events: none;
  position: relative;
}

.hero .social-media a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
