@import url("https://fonts.googleapis.com/css?family=Prompt:300,600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  height: 100%;
  font-family: "Prompt", sans-serif;
  font-weight: 200;
}

nav {
  max-width: 80vw;
  height: 3em;
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin-left: 1em;
}

nav ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav ul li:hover::after {
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav ul .current {
  border-bottom: solid #000 1px;
}

.logo {
  height: 2.4em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero {
  margin: 25vh 1em;
  text-align: center;
}

.hero h3 {
  font-weight: 200;
}

.hero h1 {
  font-size: 5em;
  font-weight: 200;
}

.hero h1 .name {
  font-weight: 600;
}

.hero p {
  color: #777;
}

.hero .social-media {
  margin: 1em auto;
  height: 2em;
  width: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .social-media .icon {
  height: 100%;
  pointer-events: none;
  position: relative;
}

.hero .social-media a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
