@import url("https://fonts.googleapis.com/css?family=Kanit:300,400");
.menu-btn {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  margin: 1em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(0.4rem, 0.5rem);
          transform: rotate(45deg) translate(0.4rem, 0.5rem);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0.2rem, -0.3rem);
          transform: rotate(-45deg) translate(0.2rem, -0.3rem);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #212728;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #2d3436;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/22450109_1514934971931657_19651558620349654_n.jpg?_nc_cat=106&_nc_eui2=AeEmv15geehyYYoj9xzgeS_mbHqmylfJ6B9HWcPgKA77t0AtEI_iIArDXs3kAQ7zm9YVQPWl4PKEhOoFMlNlPV7w3KFt1bkerPVA4ek2wgTXiA&_nc_ht=scontent.fbkk14-1.fna&oh=2795716f04833e4c8db011659aca5e32&oe=5C9B5D0F"), no-repeat;
  background-position: 45% 75%;
  background-size: 130%;
  border-radius: 50%;
  border: solid 3px #c0392b;
}

.menu .nav-item {
  -webkit-transform: translate3d(1500px, 0, 0);
          transform: translate3d(1500px, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #c0392b;
  font-weight: 400;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 1rem 0;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #c0392b;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#work {
  width: 100%;
}

.projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.projects .item {
  margin: auto auto;
}

.projects .item img {
  width: 40vw;
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px #fff solid;
}

.projects .item img:hover {
  opacity: 0.5;
  border-color: #c0392b;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10em 3em;
  overflow: auto;
  background-color: rgba(45, 52, 54, 0.9);
}

.modal.show {
  display: block;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-box-shadow: 0px 10px 13px -7px #212728, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #212728, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.modal #caption {
  font-size: 2em;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 0.5em 0;
  height: 10vh;
}

.modal .close {
  position: absolute;
  color: #f1f1f1;
  font-weight: bold;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.modal .close:hover,
.modal .close :focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-content, .modal #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

article {
  position: relative;
  width: 100%;
  margin: 80px auto 0;
  z-index: 1;
  background: #fff;
  color: #222222;
  padding: 80px 40px 70px;
  border-right: 1px solid #f4f4f1;
  border-bottom: 1px solid #f4f4f1;
}

article h2 {
  font-size: 3em;
  letter-spacing: 1px;
}

article h4 {
  margin: 0;
}

article p {
  line-height: 1.5em;
  font-size: 1.5em;
  margin-top: 18px;
}

article .indent {
  padding-left: 1em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #2d3436;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Kanit";
  line-height: 1.5;
}

body#bg-img {
  background: url(https://source.unsplash.com/vdWewqfr_V0);
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 52, 54, 0.7);
  z-index: -1;
}

h4,
h5,
h6,
p {
  font-weight: 300;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(50, 57, 60, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #c0392b;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main .icons {
  font-size: 2rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #c0392b;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: 'bioimage bio bio' 'edu edu edu' 'edu1 edu2 edu3' 'exp exp exp' 'exp1 exp2 exp3' 'exp4 exp5 exp6';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  width: 150px;
  margin: auto;
  border-radius: 50%;
  border: #c0392b;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
}

.about-info .edu-heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: edu;
}

.about-info .edu {
  background: #394144;
  padding: 0.5rem;
  border-bottom: 5px solid #c0392b;
}

.about-info .edu-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: edu1;
}

.about-info .edu-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: edu2;
}

.about-info .edu-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: edu3;
}

.about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #c0392b;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
}

.about-info .edu-heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: edu;
}

.about-info .edu {
  background: #394144;
  padding: 0.5rem;
  border-bottom: 5px solid #c0392b;
}

.about-info .edu * {
  margin: 0.2em;
}

.about-info .edu-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: edu1;
}

.about-info .edu-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: edu2;
}

.about-info .edu-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: edu3;
}

.about-info .exp-heading {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: exp;
}

.about-info .exp {
  background: #394144;
  padding: 0.5rem;
  border-left: 5px solid #c0392b;
}

.about-info .exp * {
  margin: 0.2em;
}

.about-info .exp .img {
  width: 20vw;
  height: 20vw;
  width: 100%;
  margin: 0;
}

.about-info .exp1 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: exp1;
}

.about-info .exp1 .img {
  background: url("https://cdn.tigthai.com/themes/default/images/tig_logo_m.png"), #212728;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about-info .exp2 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: exp2;
}

.about-info .exp2 .img {
  background: url("https://source.unsplash.com/DNKfLthRJbI");
  background-size: cover;
  background-position: center;
}

.about-info .exp3 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: exp3;
}

.about-info .exp3 .img {
  background: url("https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/11081100_1564377100518789_81570742229516417_n.png?_nc_cat=100&_nc_ht=scontent.fbkk14-1.fna&oh=ba16b3ae8235249eabf63d5e283a52d4&oe=5CD04D7B"), white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about-info .exp4 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: exp4;
}

.about-info .exp4 .img {
  background: url("https://theme.zdassets.com/theme_assets/958543/f517e27d1efc46547a3c1a6aa0e1080b6ec43cc3.png"), #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about-info .exp5 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: exp5;
}

.about-info .exp5 .img {
  background: url("https://www.upwork.com/static/marketing/ui/master/img/logo-1200x630.png");
  background-size: cover;
  background-position: center;
}

.about-info .exp6 {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: exp6;
}

.about-info .exp6 .img {
  background: url("https://assets.change.org/photos/8/hh/qz/EYhHqzRldgbMyJq-800x450-noPad.jpg?1528528167");
  background-size: cover;
  background-position: center;
}

.about-info .contact-area {
  grid-area: contact;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #16191a;
  color: #fff;
  height: 60px;
}

@media screen and (min-width: 1025px) {
  .projects {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .projects .item img {
    width: 20vw;
    height: 20vw;
  }
  .projects .close {
    font-size: 3em;
    top: 5vw;
    right: 21vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .projects .item img {
    width: 25vw;
    height: 25vw;
  }
  .projects .close {
    font-size: 3em;
    top: 9vw;
    right: 10vw;
  }
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .menu-branding .portrait {
    width: 200px;
    height: 200px;
  }
  .about-info {
        grid-template-areas: 'bioimage' 'bio' 'edu' 'edu1' 'edu2' 'edu3' 'exp' 'exp1' 'exp2' 'exp3' 'exp4' 'exp5' 'exp6';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .projects .close {
    font-size: 2em;
    top: 10%;
    right: 10%;
  }
}

@media screen and (max-width: 425px) {
  main#home h1 {
    margin-top: 10vh;
  }
  span {
    display: inline-block;
  }
  .projects {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .projects .item img {
    width: 60vw;
    height: 60vw;
  }
  .modal-content {
    width: 100%;
  }
  .close {
    font-size: 1.5em;
    top: 12%;
    right: 6%;
  }
  #caption {
    font-size: 1em;
  }
}
/*# sourceMappingURL=main.css.map */