<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3xbun's Guitar Collection</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="app">
      <div id="hero">
        <div class="container">
          <div class="title">
            <h1>
              3xbun's <br />
              - GUITAR COLLECTION {{time}}
              <div class="value">
                <table>
                  <tr>
                    <td>Total Value</td>
                    <td>- {{totalValue.toLocaleString('th-TH')}}THB</td>
                  </tr>
                  <tr>
                    <td>Current Value</td>
                    <td>- {{currValue.toLocaleString('th-TH')}}THB</td>
                  </tr>
                </table>
              </div>
            </h1>
          </div>
          <div class="newGuitar">
            <img :src="randomGuitar.img" alt="guitar" />
          </div>
          <div class="randGuitar">
            <h1>NEW!</h1>
            <div class="card">
              <div class="card-img">
                <img :src="collection.at(-1).img" alt="random-guitar" />
              </div>
              <p>{{collection.at(-1).model}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container" id="collection">
        <h1>MY COLLECTION</h1>
        <ul class="guitar-list">
          <li v-for="guitar in collection" :key="guitar.id" class="item">
            <div class="item-img">
              <div v-if="guitar.isNotBelong" class="sold-out">Sold</div>
              <img
                :class="{ greyScale: !guitar.isBelonged }"
                :src="guitar.img"
              />
            </div>
            <p>{{guitar.model}}</p>
          </li>
        </ul>
      </div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script src="./collection.json"></script>

    <script type="module">
      import { createApp, ref } from "vue";
      import collection from "./collection.js";

      createApp({
        setup() {
          const date = new Date();
          const second = date.getSeconds();

          const updateGuitar = () => {
            setInterval(() => {
              updateGuitar();
            }, 1000);

            return collection[Math.floor(Math.random() * collection.length)];
          };

          const updateTime = () => {
            time = date.getDate;
          };

          const randomGuitar =
            collection[
              Math.floor(
                Math.random() * collection.length * (date.getSeconds() / 60)
              )
            ];

          const time = date.getSeconds();

          setInterval(() => {
            updateTime;
          }, 1000);

          let currValue = 0;
          let totalValue = 0;

          collection.forEach((item) => {
            totalValue += item.value;

            if (item.isNotBelong === false) {
              currValue += item.value;
            }
          });

          return { collection, randomGuitar, totalValue, currValue, time };
        },
      }).mount("#app");
    </script>
  </body>
</html>
