@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

li {
    list-style: none;
}

h1 {
    font-weight: 200;
}

body {
    background: url("https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg");
}
#hero {
    margin-top: 3em;
}

#hero .container {
    display: flex;
    justify-content: space-between;
}

.title {
    flex-basis: 30%;
    display: flex;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 85vw;
    margin: auto;
}

.newGuitar {
    height: 50vh;
    flex-basis: 30%;
}

.newGuitar .view {
    position: absolute;
    left: 50vw;
    top: 45vh;
    background-color: red;
    color: white;
    padding: .5em 1em;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.view:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.newGuitar .new {
    position: absolute;
    top: 10vh;
    left: 40vw;
    font-weight: bold;
}

img {
    height: 100%;
}

.randGuitar {
    flex-basis: 30%;
    text-align: center;
}

#collection {
    margin-top: 3em;
}

.guitar-list {
    background: white;
    width: 100%;
    display: flex;
    padding: 1em;
    justify-content: space-between;
}

.item {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

.item-img {
    height: 5em;
    width: 5em;
    background-color: aquamarine;
    border-radius: 1em;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.item-img img {
    height: 200%;
    position: absolute;
    left: -15%;
    bottom: 0;
}

.card {
background: white;
width:85%;
text-align: center;
margin: auto;
border-radius: 1em;
padding: .5em 0 .5em;
}

.card-img {
    height: 10em;
    margin: .5em 1em;
}

.card p {
    border: 1px solid lightgrey;
    border-left: none;
    border-right: none;
    margin: 1em 0;
    padding: .5em 0;
}